<%= render 'share/navbar' %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.stilldrinking.org/blog_images/the-search-for-the-hitchhiker-s-guide-as-read-by-stephen-moore.jpg);">
  <div class="container">
    <h1>Movies <strong>are</strong> very <strong>cool</strong>!</h1>
    <p>Have a look at the suggested movie lists below.</p>
  </div>
</div>


<div class="container">

  <h1> All Lists </h1>

  <% @lists.each do |list| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.ytimg.com/vi/Eh-W8QDVA9s/maxresdefault.jpg)">
      <%= list.name %>
      <%= link_to " ", list_path(list), class: "card-link"  %>
    </div>
  <%end%>
</div>
