<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid container-padding>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <%= image_tag "clockwork2.png" %>
      <h3>MovieSelector</h3>
      <%= link_to " ", lists_path, class: "home-button" %>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <%= link_to "+ Add a list", new_list_path, class: add-list-btn %>
      <p class="btn-spacer"> || </p>
      <%= link_to "All lists", lists_path, class: "all-lists-btn" %>
    </div>
    </div>
  </div>
</div>
