// Define variables for your color scheme

// For example:
$red: #9E2B25;
$blue: #2D93AD;
$yellow: #EDF060;
$orange: #FF7F11;
$green: #1EDD88;
$dark-green: #225560;
$gray: #7D7C84;
$light-gray: #EEE5E9;
$silver: #B3B3B3;
$light-black: #233D4D;

// rating colors:
$rating-yellow: #FCCA46;
$rating-red: #FF1B1C;
$rating-green: #4DAA57;
